body {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	background-color: #f6f8fa;
	color: #003770;
	border-top: 5px solid #fff;
}

.app {
	width: 540px;
	margin: 40px auto;
	padding-bottom: 40px;
}

.app h1 {
	color: #fff;
	margin-left: 5px;
	font-size: 18px;
}

#feed {
	font-family: Menlo, 'Courier New', Courier;
	margin: 0 auto;
	font-size: 72px;
	width: 530px;
	height: 124px;
	background-color: #fff;
}

#feed > div {
	float: left;
}

#out, #que {
	width: 239px;
	height: 122px;
	color: #707377;
}

#out {
	text-align: right;
	color: #d0d3d7;
}

#feature {
	width: 50px;
	height: 122px;
	border-bottom: 5px solid #003770;
	text-align: center;
}

button#advance {
	margin: 20px auto;
	display: block;
	font-size: 12px;
}

