body {
	font-family: Menlo, 'Courier New', Courier;
	background-color: #f8f7f6;
	color: #384200;
}

.app {
	width: 400px;
	margin: 20px auto;
}

#feed {
	margin: 0 auto;
	font-size: 72px;
	width: 370px;
	height: 124px;
	background-color: #fff;
}

#feed > div {
	float: left;
}

#out, #que {
	width: 156px;
	height: 122px;
	color: #777;
}

#out {
	text-align: right;
	color: #ddd;
}

#feature {
	width: 52px;
	height: 122px;
	border-bottom: 5px solid #384200;
	text-align: center;
}

button#advance {
	margin: 20px auto;
	display: block;
	font-size: 12px;
}

